*{
    font-family: 'Open Sans', sans-serif;
    /*margin: 0px;
    padding: 0px;
    box-sizing: border-box;*/
}

/* NAVBAR */
.navbar a img{
    width: 2em;
    height: 2em;
}

/* HEADER */
.header{
    margin: 20px;
    text-align: center;
}
.header h1{
    font-weight: 600;
}
/*.header div img{
    width: 20em;
    height: 20em;
}*/

/* SECTION BUSQUEDA */
.busqueda{
    margin-top: 40px;
    margin-bottom: 40px;
}
.busqueda form div h4{
    font-weight: 600;
}

/* SECTION RESULTADOS */
.resultados{
    margin-top: 3em;
    margin-bottom: 3em;
    text-align: center;
    display: none;
}
.resultados h3{
    margin-bottom: 2em;
    font-weight: 600;
}
.resultados .card{
    margin-left: auto;
    margin-right: auto;
}

/* SECTION ESTADISTICAS */
.estadisticas{
    margin-bottom: 5em;
}
#chartContainer{
    height: 300px;
    width: 100%;
}

/* FOOTER */
.footer{
    text-align: center;
    padding: 5px;
}
.footer a{
    color: #fff;
    text-decoration: none;
}